html {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgba(16, 16, 182, 0.308);
    display: flex;
    justify-content: space-around;
}

div.calculator {
    width: 300px;
    height: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(29, 29, 36);
    padding: 30px;
    padding-top: 20px;
    border-radius: 10px;
    border: solid 2px rgb(243, 233, 233);
}



.buttonsClear {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    gap: 15px;
}

.clear {
    width: 120px;
    background-color: gray;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-size: 20px;
    color: aliceblue;
    user-select: none;
    border: solid 1px rgb(243, 233, 233);
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 5px;
    margin-top: 12px;
    color: aliceblue;
    height: 100px;
    background-color: rgb(77, 114, 77);
    border-radius: 12px;
    font-size: 24px;
}

.buttonCalc,
.buttonNum {
    border: solid 1px rgb(243, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    color: aliceblue;
    background-color: gray;
    border-radius: 50%;
    font-size: 30px;
    user-select: none;
}